/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
	position: relative;
}
#owl .owl-controls {
	margin-top: -27px;
	position: relative;
	top: -4px;
}
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
  width: 14px;
  height: 28px;
  padding: 0;
  margin: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 9px;
	height: 9px;
	margin-right: 2px;
	position: relative;
	z-index: 10;
}
/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}